{% extends 'base.html' %}
{% block title %}
GitHub logger
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<div class="topnav">
  <a class="log-out" href="/authorization">LOG OUT</a>
  <div class="wrap">
    <a class = "open-menu"><img class="logo" src="../static/images/25231.png"></a>
    <div class="header">GitHub logger</div>
  </div>
</div>
<div class="menu">
  <div class="close-menu">CLOSE</div>
  <ul>
      {% for link in links %}
      <div class="repo-list">
        <a class="repo-link" href={{'#' + link.name}}>{{link.name}}</a>
        <a class="del-repo"><img class="del-button" src="../static/images/delete-button.png"></a>
      </div>
      {% endfor %}
      <button class="add-repo" href="#add-repo">+</button>
  </ul>
</div>
<section>
  Информация
</section>
{% endblock %}
