@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topnav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
}
.topnav a {
  float: right;
  background-color: #2d2e2d;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #272b27;
  bottom: 0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.wrap {
  display: flex;
  flex-flow: row wrap;
}
.open-menu {
  border: none;
  cursor: pointer;
  background-color: white;
}
.open-menu:hover {
  background-color: #272b27;
}

.logo {
  width: 48px;
  height: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}
/************/
.menu {
  margin-top: 55px;
  display: block;
  left: -285px; /* прячем меню */
  bottom: 0;
  height: 94%;
  position: fixed;
  width: 285px;
  background-color: #272b27;
  overflow-y: scroll;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.menu li {
  font-family: 'Roboto';
  line-height: 32px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
 
.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }
 
.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
 
.close-menu {
  cursor: pointer;
  padding-left: 205px;
  padding-top: 10px;
  padding-bottom: 6px;
  font-family: 'Roboto';
  color: #fff;
}

.close-menu:hover {
  background-color: #555;
}

.add-repo {
  text-align: center;
  align-self: center;
  font-size: 32px;
  font-family: "Robto";
  font-weight: bold;
  color:#4CAF50;
  background-color: #272b27;
  width: 100%;
  border: none;

}

.add-repo:hover {
  background-color: #555;
  cursor: pointer;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;   
  color: #fff;
  margin-top: 64px;
}
.section_active {
  transform: translateX(25%);
}

body {
  background-color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;      
}