{% extends 'base.html' %}
{% block title %}
GitHub logger
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
<div class="login-page">    
    <div class="form">
      <div class="logo"><img class="logo" src="../static/images/25231.png"></div>
      <p class="header">GitHub logger</p>
      <form class="register-form">
        <input type="text" name="RegUsername" placeholder="Username"/>
        <input type="password" name="RegPassword" placeholder="Password"/>
        <input type="text" name="Token" placeholder="Token"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" name="LoginUsername" placeholder="Username"/>
        <input type="password" name="LoginPassword" placeholder="Password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>

{% endblock %}