{% extends 'base.html' %}
{% block title %}
GitHub logger
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
<div class="topnav">
  <a href="#exit">Выйти</a>
</div>     
<div class="menu">
      <a href="#" class="menu-icon"><span><i class="fa fa-bars" aria-hidden="true"></i>
      </span></a>
      <nav class="menu-list">
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#"></a>
      </nav>
    </div>
    <section>
        <h1>Информация</h1>
    </section>
{% endblock %}
