{% extends 'base.html' %}
{% block title %}
GitHub logger
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<div class="topnav">

  <form method="POST">
    <input type="hidden" name="LogOut" value="1">
    <input class="log-out" type="submit" value="LOG OUT"/>
    </form>
  <div class="user-name">{{name}}</div>
  <img class="user-logo" src="./static/images/user.png"></img>
  <div class="wrap">
    <a class = "open-menu"><img class="logo" src="../static/images/25231.png"></a>
    <div class="header">GitHub logger</div>
  </div>
</div>
<div class="menu">
  <div class="close-menu">CLOSE</div>
  <ul>
    {% for link in repos %}
    <div class="repo-list">
      <form method="POST">
      <input type="hidden" name="del-this-repo" value="{{link}}">
      <input class="del-repo" type="submit" value="X" name="test"/>
      </form>
      <div class="wrap-link">
      <a id="repo-link-{{link}}" class="repo-link">{{link}}</a>
      </div>
    </div>
      {% endfor %}
      <button class="add-repo" href="#add-repo">+</button>
    </ul>
  </div>
  {% for link in repos %}
  <div id="info-field" class="info-field-{{link}}">
    <div class="dropdown">
      <button class="dropbtn">Parameter</button>
      <div class="dropdown-content">
        <a class="ch-issues-{{link}}">Issues</a>
        <a class="ch-pr-{{link}}">Pull Request</a>
        <a class="ch-commits-{{link}}">Commits</a>
      </div>
    </div>
    <div class="statistics">
      <div class="issues-{{link}}">
        <div>Issues of {{link}}</div>
        <table>
          <caption>Comments</caption>
          <tr>
            <th>Author email</th>
            <th>Author login</th>
            <th>Author_email</th>
            <th>Body</th>
            <th>Date</th>
          </tr>
          {% for issue in issues['{{link}}'] %}
          <tr><td>{{issue['']}}</td><td></td><td></td><td></td><td></td></tr>
          {% endfor %}  

        </table>
      </div>
      <div class="pull-requests-{{link}}">Pull requestsString({{link}})</div>
      <div class="commits-{{link}}">
        <div>Commits of {{link}}</div>
        

      </div>
    </div>
</div>

{% endfor %}
<div class="add-form">
  <form class="add-repo-form" method="POST">
    <div>Input repository name you want to add</div>
    <input type="text" name="RepoName" placeholder="Name of your new repo">
    <br/>
    <input type="submit" id="btn" value="Add">
  </form>
</div>


<script>
var main_2 = function(){
  {% for link in repos %}
    $("#repo-link-{{link}}").click(
      function(){
        {% for link_i in repos %}
          $('.info-field-{{link_i.name}}').attr('style', 'display: none');
        {% endfor %}
          $('.info-field-{{link}}').attr('style', 'display: block');
          $('.add-form').attr('style', 'display: none')

    });
    console.log("test");
    $('.ch-issues-{{link}}').click(
      function(){
        $('.issues-{{link}}').attr('style', 'display: block');
        $('.pull-requests-{{link}}').attr('style', 'display: none');
        $('.commits-{{link}}').attr('style', 'display: none');
    });
    
    $('.ch-pr-{{link}}').click(                                                       
      function(){
        $('.issues-{{link}}').attr('style', 'display: none');
        $('.pull-requests-{{link}}').attr('style', 'display: block');
        $('.commits-{{link}}').attr('style', 'display: none');
      });
          
    $('.ch-commits-{{link}}').click(
      function(){
        $('.issues-{{link}}').attr('style', 'display: none');
        $('.pull-requests-{{link}}').attr('style', 'display: none');
        $('.commits-{{link}}').attr('style', 'display: block');
    });
  {% endfor %}
    $('.add-repo').click(
      function(){
        {% for link in repos %}
          $('.info-field-{{link}}').attr('style', 'display: none');
        {% endfor %}
        $('.add-form').attr('style', 'display: block')
      }
    );
};
</script>
{% endblock %}
