{% extends 'base.html' %}
{% block title %}
GitHub logger
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<div class="topnav">
  <a href="/authorization">LOG OUT</a>
  <div class="wrap">
    <button class = "open-menu"><img class="logo" src="../static/images/25231.png"></button>
    <div class="header">GitHub logger</div>
  </div>
</div>
<div class="menu">
  <div class="close-menu">CLOSE</div>
  <ul>
      <li><a href="#">link_4</a></li>
      <li><a href="#">link_3</a></li>
      <li><a href="#">link_2</a></li>
      <li><a href="#">link_1</a></li>
      <button class="add-repo" href="#add-repo">+</button>
  </ul>
</div>
<section>
  Информация
</section>
{% endblock %}
